main {

    display: flex;

    align-items: center;
    flex-direction: column;

    gap: 2rem;

    margin: 0 auto;
    width: 1000px;

    .cardsGrid {
        display: grid;

        grid-template-columns: repeat(4, 1fr);
        column-gap: 75px;
        row-gap: 75px;
    }

    .header {
        display: flex;
        justify-content: space-between;

        width: 1285px;
        margin-top: 2rem;
    }
}