.container {
    background-color: var(--dark-mode-elements);
    color: var(--dark-mode-text);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;

    font-size: 1.2rem;
    font-weight: 800;

    box-shadow: 0rem 0.3rem 1rem var(--dark-mode-shadow);

    button {
        border: none;
        background: transparent;

        display: flex;
        align-items: center;
        gap: 0.3rem;

        font-size: 1rem;
        color: var(--dark-mode-text);
    }
}