.container {
    display: flex;
    align-items: stretch;
    
    border-radius: 0.3rem;
    box-shadow: 0 0.3rem 1rem var(--dark-mode-shadow);

    height: 3rem;

    button {
        width: 3rem;

        border: 0;
        border-radius: 0.3rem 0 0 0.3rem;

        color: var(--dark-mode-text);

        background-color: inherit;
        background-color: var(--dark-mode-elements);

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    input {
        width: 30rem;

        border: 0;
        border-radius: 0 0.3rem 0.3rem 0;
        font-weight: 600;
        padding: 1rem 0;

        color: var(--dark-mode-text);

        background-color: inherit;
        background-color: var(--dark-mode-elements);

        outline:none;
    }
}